exportPattern("^[[:alpha:]]+")
import(rvest)
import(tryCatchLog)
import(glue)
import(DBI)
import(RSQLite)
import(futile.logger)
import(httr)
import(urltools)
import(dplyr)
import(shiny)
import(DT)
import(stringr)
importFrom(magrittr,"%>%")
importFrom(magrittr,"%<>%")
importFrom(magrittr,"not")
